.friend-profile {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    aspect-ratio: 1;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media screen and (max-width: 600px) {
  .friend-profile {
    width: 43%;
  }
}
