
.friend-profile {
  width: 30%;
  aspect-ratio: 1;
  padding: 1rem;
  background-color: var(--testColor3);
  border-radius: 1rem;
  cursor: pointer;
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

@media screen and (max-width: 600px) {
  .friend-profile {
    width: 43%;
  }
}
