@import "../../../styles/mixins.scss";
.comment {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    display: block;
    background-color: var(--backColor);
    border-radius: 1rem;
    &-profile {
      display: flex;
      gap: 1rem;
      padding-bottom: 1rem;
      align-items: center;
      &-image {
        @include circle(60%, height)
      }
      &-name {
        font-weight: bold;
      }
    }
    &-text {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: fit-content;
      border-radius: 1rem;
      text-align: left;
    }
  }