.auth-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.auth-container {
  background-color: var(--navColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 2rem;
  width: 30rem;
  text-align: left;
}
