@import "../../../variables.scss";
.typeaheadContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  input {
    width: calc(100% - 0.8rem);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.4rem;
    border: none;
    outline: none;
    background: $back-color;
    transition: background-color 0.3s;
    &:hover {
      background: $hover-color;
    }
  }
  .typeahead-options {
    margin-top: 0.3rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-radius: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 20rem;
    max-height: 60vh;
  }
}
