.messager-typeahead {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  box-sizing: border-box;
}
#messager {
  .typeaheadContainer {
    background-color: var(--navColor);
    z-index: 12;
    input {
      border-radius: 4rem;
      background-color: var(--navColor);
      color: var(--textColor1);
    }
  }
}
