@import "../../variables";

.friend {
  flex: 1;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    aspect-ratio: 1;
    background-color: #89cff0;

    cursor: pointer;
  }
  &-info {
    padding: 1rem;
    display: flex;
    width: calc(100% - 2rem);
    height: 10vh;
    background-color: #89cff0;
    font-weight: bold;
    font-size: 1rem;
    flex-direction: column;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    span {
      word-break: break-all;
    }
  }
  &-remove {
    width: 80%;
    align-self: center;
    z-index: 10;
    border: none;
  }
}
