@import '../../variables.scss';

.recordMessager {
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.2rem;
    img {
      height: 100%;
      aspect-ratio: 1;
    }
    &:hover {
      background-color: $test-color2;
    }
  }