@import "../../variables.scss";

.custom-file-input {
    height: 100%;
    aspect-ratio: 1;
    // margin: 0 0.5rem;
    display: flex;
    align-items: center;
  }

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    background-image: url("https://zzzdreamm.github.io/social-app/question-image.png");
    background-size: cover;
    content: "";
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 1rem;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 1rem;
  }

  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .custom-file-input:hover {
    background-color: #bbb;
    // border-radius: 1rem;
  }