@import "../../../styles/mixins.scss";
.navbar {
  background-color: var(--navColor);
  width: 100%;
  height: 6vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  box-shadow: 0 0 0.2rem 0 var(--shadow3);
  button {
    border: none;
    background-color: var(--navColor);
  }
}

.profileIcon {
  cursor: pointer;
  @include circle(2.4rem, height);

}
.messagerIcon {
  @include circle(100%, height);
  cursor: pointer;

  box-sizing: border-box;
  padding: 5%;
  background-color: var(--container2Color);
  display: flex;
  &:hover {
    background-color: var(--hoverColor);
  }
}
.messagerContainer {
  width: 25rem;
  height: 80vh;
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 6vh;
  right: 4rem;
  animation: show 0.2s linear forwards;
}

.smallProfileImage {
  @include circle(2.4rem, height);
  cursor: pointer;

  background-size: cover;
  position: relative;
}

.arrowImage {
  display: block;
  position: absolute;
  right: -5%;
  bottom: -5%;
  background-color: var(--backColor);
  @include circle(50%, width);
  padding: 10%;
  box-sizing: border-box;
  transform: rotate(90deg);
  z-index: 10;
}

.profile {
  height: 4rem;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  margin: 1rem;
  box-shadow: 0 0 0.3rem 0 var(--shadow3);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover {
      background-color: var(--backColor);
    }
  }
  &:hover {
    background-color: var(--backColor);
  }
}

.profileOptions {
  position: absolute;
  top: 5.8vh;
  right: 1vw;
  background-color: var(--navColor);
  margin: 0 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1rem;
  z-index: 15;
  animation: show 0.2s linear forwards;
  padding: 0.5rem 0;
  box-shadow: 0 0 0.4rem 0 var(--typicalShadow);

  h4 {
    width: calc(100% - 2rem);
    height: 4rem;
    box-sizing: border-box;
    padding: 5%;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    &:hover {
      background-color: var(--backColor);
    }
    img {
      @include circle(100%, height);
      box-sizing: border-box;
      padding: 0.3rem;
      background-color: var(--hoverColor);
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
