@media (min-width: 320px) and (max-width: 480px) {
  .messager-mobile-icon {
    width: 5rem;
    flex-direction: column;
    cursor: pointer;
    &-image {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    &-name {
      width: 100%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
