.post {
  background-color: var(--navColor);
  border-radius: 1rem;
  width: 100%;
  &-profile {
    width: inherit;
    height: 8rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    word-break: break-all;
    font-weight: bold;
    position: relative;
    img {
      height: 60%;
      aspect-ratio: 1;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-options {
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      background-size: cover;
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      border-radius: 50%;
      &:hover {
        background-color: var(--hoverColor);
      }
      &__list {
        position: absolute;
        right: 2rem;
        top: 5rem;
        width: 15rem;
        box-sizing: border-box;
        border-radius: 1rem 0 1rem 1rem;
        background-color: var(--backColor);
        padding: 0.5rem;
        &::before {
          position: absolute;
          content: "";
          right: 0rem;
          top: -1.8rem;
          height: 2rem;
          width: 2rem;
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          background-color: var(--backColor);
        }
        &::after {
          right: 1rem;
          clip-path: polygon(0 0, 75% 0, 0% 100%);
        }

        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        cursor: auto;
        z-index: 4;
        &__child {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0.3rem 1rem;
          box-sizing: border-box;
          border-radius: 1rem;
          cursor: pointer;
          word-break: keep-all;
          text-align: left;
          &:hover {
            background-color: var(--hoverColor);
          }
        }
      }
    }
  }
  &-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    &-text {
      display: flex;
      align-items: flex-start;
      word-break: break-all;
      flex-direction: column;
      padding: 1rem;
      text-align: left;
    }
    img {
      border-top: 1px solid #999;
      border-bottom: 1px solid #999;
      // max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
  &-bottom {
    width: calc(100% - 2rem);
    height: 10rem;
    padding: 0 1rem;
    .option {
      display: flex;
      align-items: center;
      height: 100%;
      max-width: 50%;
      gap: 0.3rem;
      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        height: 2rem;
        object-fit: contain;
        flex-shrink: 2;
      }
    }
    &-up {
      width: 100%;
      height: 50%;
      border-bottom: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-down {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        max-width: 50%;
        border: none;
        margin: 0.5rem;
        &:hover {
          background-color: var(--testColor2);
        }
      }
    }
  }
}

.post-comments {
  border-top: 1px solid var(--borderColor);
  width: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &-input {
    display: flex;
    justify-content: left;
    align-items: start;
    width: 100%;
    height: 100%;
    gap: 1rem;
    &__profile {
      width: 8%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
      }
    }
    .commentText {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: start;
      gap: 1rem;
      box-sizing: border-box;
      padding: 0 0.5rem 0.5rem 0.5rem;
      background: var(--backColor);
      border-radius: 1rem;
      &-submit {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        button {
          border: none;
          height: 100%;
          aspect-ratio: 1;
          background-color: var(--backColor);
          box-sizing: border-box;
          padding: 0.5rem;
          border-radius: 1rem;
          &:hover {
            background: var(--testColor2);
          }
        }
      }
    }
  }
  &-more {
    color: #999;
    text-align: left;
    cursor: pointer;
  }
}
