.typeaheadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  position: relative;
  input {
    width: calc(100% - 0.8rem);
    border-radius: 1rem;
    padding: 0.4rem;
    border: none;
    outline: none;
    background: var(--backColor);
    color: var(--textColor1);
    transition: background-color 0.3s;
    position: relative;
    &:hover {
      background: var(--hoverColor);
    }
  }
  .typeahead-options {
    position: absolute;
    top:calc(50% + 0.8rem);
    margin-top: 0.3rem;
    background-color: var(--navColor);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-radius: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    // min-height: 20rem;
    // max-height: 60vh;
  }
}
