@import "../../variables.scss";

.friend-request {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #89cff0;
  border-radius: 1rem;
  padding: 1rem;
  &-profile {
    height: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    word-break: break-all;
    img {
      height: 60%;
      border-radius: 50%;
    }
  }
  &-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    button {
      font-size: 1.5rem;
      margin: 0.3rem;
    }
  }
}
