
#messager {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5vh 95vh;
  background-color:  var(--backColor);
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  z-index: 14;

  .recordMessager {
    overflow: hidden;
  }
}

#go-to-app {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem 0;
  height: 4rem;
  width: 20rem;
  border-right: 1px solid var(--borderColor);
}

.messager-friends {
  width: 20rem;
  height: calc(100vh - 5vh - 5rem - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  border-right: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  &::-webkit-scrollbar {
    display: none;
  }
}

.messager-nav {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid var(--borderColor);
  span {
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      height: 80%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
}

.messager-content {
  display: flex;
  border-top: 1px solid var(--borderColor);
}

@media (min-width: 320px) and (max-width: 480px) {
  #messager {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

#messager {
  .message-content {
    font-size: 2rem;
  }

}
