$nav-color: #ffffff;
$back-color: #f0f2f5;
$text-grey:#7e7f81;
$lightgrey:#d6d9dfdc;
$container2-color: #eeeeee;
$container-color: #3b55d9;
$test-color1: #febebe;
$test-color2: #bbb;
$text-color1: #2f2f2f;
$text-color2: #ffffff;
$test-color3: #89cff0;
$blue-color: #0084ff;
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-inset: rgba(255, 255, 255, 0.5);
$hover-color: #e4e6e9;
$border-color: #ccc;

$light-blue: rgba(0, 132, 255, 1);