$nav-color: #ffffff;
$back-color: #F0F2F5;
$container-color: #3b55d9;
$test-color1: #febebe;
$test-color2: #bbb;
$text-color1: #2f2f2f;
$text-color2: #ffffff;
$test-color3: #89CFF0;
$blue-color:#0084ff;
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-inset: rgba(255, 255, 255, 0.5);
$hover-color: #e4e6e9;
$border-color: #CCC;

.very-small-font{
  font-size: 0.5rem;
}
.small-font{
  font-size: 0.8rem;
}
.medium-font{
  font-size: 1.2rem;
}
.large-font{
  font-size: 1.6rem;
}
.very-large-font{
  font-size: 2rem;
}

.bold{
  font-weight: bold;
}
.bolder{
  font-weight: bolder;
}

.shadow-around{
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.3);
}

.big-shadow-around{
  box-shadow: 0 12px 28px 0 $shadow-2,0 2px 4px 0 $shadow-1, inset 0 0 0 1px $shadow-inset;
}
.shadow-beneath{
  box-shadow: 0 0.05rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}
.shadow-above{
  box-shadow: 0 -0.05rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}






@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Corben:700");



@media only screen and (min-width: 4000px) {
  html {
    font-size: 56px;
  }
}

@media only screen and (min-width: 2400px) and (max-width: 4000px) {
  html {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 2400px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 550px) and (max-width: 1100px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 8px;
  }
}

::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
}
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-family: "Corben", cursive;
  font-size: 6rem;
  letter-spacing: 0.1rem;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}
h5{
  margin: 1.5rem 0;
}

body {
  background-color: $back-color;
  color: $text-color1;
  font-size: 2rem;
  overflow-x: hidden;
}

button {
  background-color: $nav-color;
  font-size: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: background-color 0.3s;
  &:hover {
    background-color: $hover-color;
  }
}
.my-input {
  font-size: inherit;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
}
label {
  margin: 5% 0;
  text-align: center;
  display: flex;
}
.go-back-button {
  letter-spacing: 0.1rem;
  text-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.66);
  border: none;
  cursor: pointer;
  &:hover {
    background-color: $nav-color;
  }
}
.error {
  color: red;
  font-size: 1.5rem;
}

.App {
  text-align: center;
  position: relative;
  z-index: -1;
}
.landing-page {
  position: relative;
  min-height: 93.9vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: -1;
}
.navbar {
  background-color: $nav-color;
  width: 100%;
  height: 6vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  button {
    border: none;
    background-color: $nav-color;
  }
}

.navbar-placeholder {
  display: flex;
  width: 100%;
  height: 6vh;
}

// @media screen and (min-width:600px) {
//   .typeahead-options{
//     width: 100%;
//   }
// }
// @media screen and (max-width:600px) {
//   .typeahead-options{
//     width: 20rem;
//   }
// }
.navbar-typeahead{
  width: 30%;
  height: 60%;
}

.typeaheadContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  input {
    width: calc(100% - 0.8rem);
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 0.4rem;
    border: none;
    outline: none;
    background: $back-color;
    transition: background-color 0.3s;
    &:hover{
      background: $hover-color;
    }
  }
  .typeahead-options{
   margin-top: 0.3rem;
   background-color: white;
   display: flex;
   flex-direction: column;
   gap: 0.1rem;
   border-radius: 1rem;
   padding: 0.5rem 0;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;
   min-height: 20rem;
   max-height: 60vh;
  }
  .data-option {
    min-height: 3rem;
    width: 92%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover{
      background-color: $hover-color;
    }

    &-part {
      display: flex;
      word-break: break-all;
      margin: 0 0.2rem;
    }
    .image {
      display: block;
      height: 2.5rem;
      aspect-ratio: 1;
    }
  }
}



.loader {
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
  &__element {
    border-radius: 100%;
    border: 1em solid #555;
    margin: calc(1em * 2);
  }

  &__element:nth-child(1) {
    animation: preloader 0.6s ease-in-out alternate infinite;
  }
  &__element:nth-child(2) {
    animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
  }

  &__element:nth-child(3) {
    animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
  }
}


@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

.file-input-image {
  height: 80%;
}

.profile {
  position: relative;
  top: 0;
  left: 3vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
  &-up {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $text-color2;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    &-image {
      margin: 0 auto;
      width: 70vw;
      aspect-ratio: 1.2;
      background-size: cover;
      position: relative;
      &-input {
        position: absolute;
        bottom: 2vw;
        right: 2vw;
        height: 3rem;
        z-index: 3;
        background-color: $text-color2;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
      }
    }

    &-options {
      background-color: $text-color2;
      width: 70vw;
      height: 20vw;
      z-index: 2;
      &-up {
        display: flex;
        width: 100%;
        height: 70%;
        border-bottom: 1px solid $text-color1;
        align-items: center;
        word-break: break-all;

        img {
          border: 0.3rem solid $test-color3;
          height: 70%;
          aspect-ratio: 1;
          border-radius: 50%;
          margin: 1rem;
          cursor: pointer;
        }
      }
      &-down {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30%;
        button {
          height: calc(100% - 1rem);
          padding: 0 0.5rem;
          width: fit-content;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: $back-color;
          }
        }
      }
    }
  }
  &-down {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 50vw;
    margin: 0 auto;
  }
}
@media screen and (max-width:600px) {
  .profile{
    left:5vw;
  }
}

@media screen and (min-width:2000px) {
  .profile{
    left:1vw;
  }
}

@media screen and (max-width: 1200px) {
  .profile-down{
    width: 86vw;
  }
}

.bar {
  position: fixed;
  height: 100%;
  top: 6vh;
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
    width: 20vw;

  }
  ul {
    padding: 0 0.5rem;
    li {
      height: 3rem;
      width: 90%;
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      border-radius: 1rem;
      padding: 0.3rem 0.3rem;
      transition: background-color 0.3s;
      word-break: break-all;

      img {
        height: 80%;
        aspect-ratio: 1;
        border-radius: 50%;
      }
      span {
        // font-size: 1rem;
        font-weight: bold;
      }
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}


.middle-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50vw;
  padding: 2vw 5vw 5vw 5vw;
}
.friends {
  position: relative;
  left: 5vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90vw;
  padding: 0 2.5vw;
}
@media only screen and (max-width: 700px) {
  .middle-content {
    position: relative;
    left: 4vw;
    width: 84vw;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin: 0;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .middle-content {
    position: relative;
    width: 60vw;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin: 0;
  }
}
.post-form {
  width: calc(100% - 2rem);
  // height: 15vh;
  height: 8vh;
  display: grid;
  // grid-template-rows: 50% 50%;
  grid-template-rows: 100%;
  padding: 1rem;
  &-up {
    padding: 0.3rem;
    display: flex;
    width: calc(100% - 0.6rem);
    // border-bottom: 1px solid #bbb;
    background-color: $text-color2;
  border-radius: 1rem;

    align-items: center;
    gap: 1rem;
    img {
      height: 80%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    &-placeholder {
      display: block;
      flex-grow: 2;
      background-color: $back-color;
      border-radius: 1rem;
      height: fit-content;
      text-align: left;
      padding: 0.6rem;
      color: #555;
      cursor: pointer;
      &:hover {
        background-color: $hover-color;
      }
    }
  }
  &-down {
    display: flex;
    width: inherit;
  }
}

.modal-header {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-body {
  height: 68%;
  width: 98%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  &-profile {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    padding: 5%;
    gap: 1rem;
    img {
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  &-text {
    width: 90%;
    flex-grow: 2;
    border: none;
    border-radius: 1rem;
    outline: none;
    margin-bottom: 2rem;
  }
  .modal-body-image {
    width: 100%;
    aspect-ratio: 1;
  }
}
body {
  position: relative;
  z-index: -1;
}
#root {
  position: relative;
  z-index: -1;
}
.modal-image {
  width: 90%;
  height: 8%;
  border-radius: 1rem;
  border: 1px solid #888;
  margin-bottom: 2%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.custom-file-input {
  height: 100%;
  aspect-ratio: 1;
  // margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  background-image: url("https://zzzdreamm.github.io/social-app/question-image.png");
  background-size: cover;
  content: "";
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 1rem;
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 1rem;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.custom-file-input:hover {
  background-color: #bbb;
  // border-radius: 1rem;
}

.listOfPosts {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding: 1rem;
  gap: 3rem;
  .post {
    background-color: $text-color2;
    border-radius: 1rem;
    width: 100%;
    &-profile {
      width: inherit;
      height: 8rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      word-break: break-all;
      font-weight: bold;
      img {
        height: 60%;
        padding: 0.5rem;
        border-radius: 50%;
      }
    }
    &-content {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      &-text {
        display: flex;
        align-items: flex-start;
        word-break: break-all;
        flex-direction: column;
        padding: 1rem;
        text-align: left;
      }
      img {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        // max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }
    &-bottom {
      width: calc(100% - 2rem);
      height: 10rem;
      padding: 0 1rem;
      .option {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 50%;
        img {
          max-height: 80%;
          object-fit: contain;
          flex-shrink: 2;
        }
      }
      &-up {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid #999;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-down {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          max-width: 50%;
          border: none;
          margin: 0.5rem;
          &:hover {
            background-color: $test-color2;
          }
        }
      }
    }
  }
}

.post-comments {
  width: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 100%;
    gap: 1rem;
    textarea {
      width: 100%;
      font-size: 2rem;
      padding: 0.2rem;
      border-radius: 1rem 0.5rem 0.5rem 1rem;
      max-height: 10rem;
      overflow: auto;
      resize: none;
    }
    button {
      padding: 0.7rem;
    }
  }
  &-comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    margin-top: 3rem;
  }
  &-more {
    color: #999;
    text-align: left;
    cursor: pointer;
  }
}

.comment {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: block;
  background-color: #eee;
  border-radius: 1rem;
  &-profile {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #999;
    align-items: center;
    height: 4rem;
    &-image {
      height: 60%;
      border-radius: 50%;
    }
    &-name {
      font-weight: bold;
    }
  }
  &-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.5rem;
    word-break: break-all;
  }
}
.show-text {
  margin-left: 0.5rem;
  color: red;
  cursor: pointer;
}
// @media screen and (max-width: 600px) {
//   .listOfFriends{
//     display: flex;
//     columns: 3;
//     flex-wrap: wrap;
//   }
// }
@media screen and (min-width: 600px){
  .friends{
    left: 2vw;
  }
}
.listOfFriends {
  display: grid;
  width: calc(100% - 2rem);
  margin: 0 auto;
  gap: 2rem;
  row-gap: 3rem;
  padding-bottom: 2rem;

  .friend {
    flex:1;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      aspect-ratio: 1;
      background-color: #89CFF0;

      cursor: pointer;
    }
    &-info {
      padding: 1rem;
      display: flex;
      width: calc(100% - 2rem);
      height: 10vh;
      background-color: #89CFF0;
      font-weight: bold;
      font-size: 1rem;
      flex-direction: column;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      span {
        word-break: break-all;
      }
    }
    &-remove {
      width: 80%;
      align-self: center;
      z-index: 10;
    }
  }
}

.friendRequests {
  position: relative;
  left: 3vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 86vw;
  padding: 0 1vw;
}
.listOfFriendRequests {
  display: flex;
  width: calc(100% - 2rem);
  padding: 1rem;
  gap: 2rem;
  flex-direction: column;
  .friend-request {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #89CFF0;
    border-radius: 1rem;
    padding: 1rem;
    &-profile {
      height: 100%;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      word-break: break-all;
      img {
        height: 60%;
        border-radius: 50%;
      }
    }
    &-options {
      display: flex;
      align-items: center;
      flex-direction: column;
      button {
        font-size: 1.5rem;
        margin: 0.3rem;
      }
    }
  }
}

.small-profile-image {
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1;
}

.friend-profile {
  width: 30%;
  aspect-ratio: 1;
  padding: 1rem;
  background-color: #89CFF0;
  border-radius: 1rem;
  cursor: pointer;
  img {
    width: 100%;
    aspect-ratio: 1;
  }
}

@media screen and (max-width:600px) {
  .friend-profile{
    width: 43%;
  }
}


.notLogged {
  width: 100%;
  height: 100%;
  display: flex;
  img {
    width: 50%;
    aspect-ratio: 1;
  }
  &-logging {
    aspect-ratio: 1;
  }
}
@media only screen and (max-width: 600px) {
  .notLogged {
    flex-direction: column;
  }
}
.link {
  color: $container-color;
  cursor: pointer;
}

.listOfOpenedChats {
  position: fixed;
  bottom: 0px;
  right: 70px;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
  z-index: 1;
}

.chat {
  height: 30rem;
  width: 20rem;
  background-color: $text-color2;
  z-index: 15;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  &-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    &-userProfile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 80%;
      font-size: 1rem;
      font-weight: bold;
      padding-left: 1rem;
      height: 100%;
      &-image {
        height: 60%;
        aspect-ratio: 1;
        border-radius: 50%;
      }
    }
    &-call {
      cursor: pointer;
      height: 50%;
      padding: 0.5rem;
      border-radius: 50%;
    }
    &-close {
      cursor: pointer;
      height: 50%;
      padding: 0.5rem;
    }
  }
  &-body {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    &-start {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70%;
      align-items: center;
      img {
        border-radius: 50%;
        width: 50%;
        aspect-ratio: 1;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 0.4rem);
    height: 15%;
    padding: 0 0.2rem;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
    &-container {
      position: relative;
      height: 15rem;
      padding: 0 1rem;
      min-width: 30%;
      max-width: 70%;
      align-self: flex-end;
    }
    &-input {
      position: absolute;
      bottom: 1rem;
      max-height: 100%;
      width: calc(100% - 3rem);
      border: 1px solid #bbb;
      border-radius: 1rem;
      text-align: left;
      padding: 0.5rem;
      font-size: 1rem;
      background-color: #eee;
      display: flex;
      flex-direction: column-reverse;
      white-space: pre-wrap;
      word-break: break-word;
      overflow-y: auto;
      z-index: 17;
      &-image {
        width: 3rem;
        height: 3rem;
        user-select: none;
        position: relative;
        margin-bottom: 0.3rem;
      }
      &-images-container{
        display: grid;
        gap: 0.3rem;
        grid-template-columns: 30% 30% 30%;
      }
    }
    &-send {
      height: 50%;
      cursor: pointer;
      padding: 0.2rem;
      margin-right: 0.2rem;
    }
  }
}
@media only screen and (max-width: 600px) {
  .chat {
    height: 40rem;
    width: 30rem;
    &-footer-input {
      bottom: 1.5rem;
    }
  }
}

.listOfMessages {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.2rem;
  padding: 1rem 0.1rem;
}
.message {
  position: relative;
  width: fit-content;
  max-width: 80%;
  display: flex;
  text-align: left;
  word-break: break-all;
  gap: 0.2rem;
  padding: 0 0.2rem;
  z-index: 16;
  &-content {
    background-color: $test-color2;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-media{
      display: grid;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 10rem;
      max-width: 15rem;
      img {
        width: 100%;
        aspect-ratio: 1;
        cursor: pointer;
      }
    }

  }
}

.message-content-audio {
  width: 100%;
  min-width: 10rem;
  padding: 0.5rem 0;
}
@media screen and (max-width: 600px) {
  .message-content-audio {
    min-width: 20rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .message-content-audio {
    min-width: 12rem;
  }
}

.call {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 100;
  .video {
    position: absolute;
    right: 3rem;
    top: 3rem;
    height: 50vh;
    background-color: black;
    aspect-ratio: 0.75;
  }
  .friendVideo {
    height: 100%;
    width: 100%;
  }
  &-options {
    display: flex;
    position: absolute;
    bottom: 6rem;
    left: 45%;
    z-index: 101;
    height: 3rem;
    border-radius: 50%;
    gap: 4rem;
    &-option {
      height: 3rem;
      width: 3rem;
      background-color: $text-color2;
      border-radius: 50%;
      padding: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: $test-color2;
      }
      &:active {
        background-color: $container-color;
      }
    }
  }
}

.call-image {
  height: 3rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.erase-image {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  height: 1rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.recordMessager {
  height: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.2rem;
  img {
    height: 100%;
    aspect-ratio: 1;
  }
  &:hover {
    background-color: $test-color2;
  }
}







#form-file-upload {
  height: 16rem;
  width: 28rem;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: calc(100% - 1.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
  margin: 1rem 0 ;
}

#label-file-upload.drag-active {
  background-color: #ffffff;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}



.box {
  width: 100%;
  position: relative;
}

.container {
  white-space: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar{
    display: none;
  }
}

.element {
  display: inline-block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  text-align: center;
  font-size: 20px;
  scroll-snap-align: center;
}

.scroll{
  position: absolute;
  top: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  background-size: cover;
}
.scroll-left {
  left: 0.8rem;
}

.scroll-right {
  right: 0.8rem;
  transform: rotate(180deg);
}


















#messager{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5vh 95vh;
  background-color: $back-color;
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  z-index: 14;
}

.messager-content{
  display: flex;
  border-top: 1px solid $border-color;
}

.messager-nav{
  height:5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid $border-color;
  img{
    height: 80%;
    aspect-ratio: 1;
  }
}

#go-to-app{
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem 0;
  height: 4rem;
  width: 10rem;
}

.messager-typeahead{
  width: 90%;
}
.messager-friends{
  width: 20rem;
  height: calc(100vh - 5vh - 5rem - 1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  &::-webkit-scrollbar{
    display: none;
  }

}
.messager-friend{
  width: calc(100% - 1rem);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
  &:hover{
    background-color: $hover-color;
  }
  &-image{
    height: 90%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  &-name{
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.messager-chat{
  width: calc(100% - 20rem);
  height: 100%;
  background-color: $nav-color;
  &-header {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    &-userProfile {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 80%;
      font-size: 1rem;
      font-weight: bold;
      padding-left: 1rem;
      height: 100%;
      &-image {
        height: 60%;
        aspect-ratio: 1;
        border-radius: 50%;
      }
    }
    &-call {
      cursor: pointer;
      height: 50%;
      padding: 0.5rem;
      border-radius: 50%;
    }
    &-close {
      cursor: pointer;
      height: 50%;
      padding: 0.5rem;
    }
  }
  &-body {
    height: calc(100% - 10rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    &-start {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      img {
        border-radius: 50%;
        width: 30%;
        aspect-ratio: 1;
      }
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 0.8rem);
    height: 5rem;
    padding: 0 0.4rem;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
    border-left: 1px solid $border-color;
    &-container {
      position: relative;
      height: 15rem;
      padding: 0 1rem;
      min-width: 60%;
      max-width: 90%;
      flex-grow: 2;
      align-self: flex-end;
    }
    &-input {
      position: absolute;
      bottom: 1rem;
      max-height: 100%;
      width: calc(100% - 3rem);
      border: 1px solid #bbb;
      border-radius: 1rem;
      text-align: left;
      padding: 0.5rem;
      font-size: 1rem;
      background-color: #eee;
      display: flex;
      flex-direction: column-reverse;
      white-space: pre-wrap;
      word-break: break-word;
      overflow-y: auto;
      z-index: 17;
      &-image {
        width: 5rem;
        height: 5rem;
        user-select: none;
        position: relative;
        margin-bottom: 0.3rem;
      }
      &-images-container{
        display: flex;
        gap: 0.3rem;
        overflow-x: auto;
      }
    }
    &-send {
      height: 50%;
      cursor: pointer;
      padding: 0.2rem;
      margin-right: 0.2rem;
    }
}}

.messager-small-chat{
  width: 100%;
  height: 100%;
}


.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#messager{
  .typeaheadContainer {
    background-color: white;
    z-index: 12;
    input {
      background-color: white;
    }
  }
}


.whole-page{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
}