@import "../../../variables.scss";

.post-form {
  width: calc(100% - 2rem);
  // height: 15vh;
  height: 8vh;
  display: grid;
  // grid-template-rows: 50% 50%;
  grid-template-rows: 100%;
  padding: 1rem;
  &-up {
    padding: 0.3rem;
    display: flex;
    width: calc(100% - 0.6rem);
    // border-bottom: 1px solid #bbb;
    background-color: $text-color2;
    border-radius: 1rem;

    align-items: center;
    gap: 1rem;
    img {
      height: 80%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    &-placeholder {
      display: block;
      flex-grow: 2;
      background-color: $back-color;
      border-radius: 1rem;
      height: fit-content;
      text-align: left;
      padding: 0.6rem;
      color: #555;
      cursor: pointer;
      &:hover {
        background-color: $hover-color;
      }
    }
  }

}

.modal-image {
  width: 90%;
  height: 8%;
  border-radius: 1rem;
  border: 1px solid #888;
  margin-bottom: 2%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal-body {
  height: 68%;
  width: 98%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  &-profile {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    padding: 5%;
    gap: 1rem;
    img {
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  &-text {
    width: 90%;
    flex-grow: 2;
    border: none;
    border-radius: 1rem;
    outline: none;
    margin-bottom: 2rem;
  }
  .modal-body-image {
    width: 100%;
    aspect-ratio: 1;
  }
}
