@import "../../styles/mixins.scss";

.reelsPage {
  &-bar {
    &-profile {
      padding: 0 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: left;
      border-bottom: 1px solid #DDD;
      &__data {
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
    &-formData {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__buttons {
        width: 99%;
        display: flex;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #DDD;
      }
      // &-mediaFile {
      // }
    }
  }
  &-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &-optionContainer{
      display: flex;
      gap: 1rem;
    }
    &-option {
      width: 15rem;
      height: 25rem;
      border-radius: 1rem;
      background-color: var(--navColor);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      &__file {
        width: 60%;
      }
    }
    &-preview {
      width: 80%;
      height: 90%;
      margin: 0 auto;
      border-radius: 1rem;
      padding: 1rem;
      box-sizing: border-box;
      background-color: var(--navColor);
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      &__image {
        width: 100%;
        height: calc(100% - 2rem);
        border-radius: 1rem;
        background-color: var(--borderColor);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: calc(100% - 2rem);
          margin: 1rem;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
    }
  }
}

@include phone {
  .reelsPage {
    flex-direction: column;
    &-bar {
      display: none;
    }
  }
  .reelsPage-form-preview__image img {
    max-width: 100%;
  }
}

@include abovePhone {
  .reelsPage-bar {
    width: 27vw;
    height: 100%;
    flex-direction: column;
  }
  .reelsPage-form-preview__image img {
    max-width: 40%;
  }
}
